body{
  text-align: center;
  overflow: hidden;
}
#head{
  background-color: #EEE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#logo{
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
}
a, a:visited, a:hover{
  color: black;
}
h1 a, h1 a:visited, h1 a:hover{
  text-decoration: none;
}
h3{
  margin: 5px;
}
iframe{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  margin: auto;
  text-align: center;
}
#desc{
  position: absolute;
  right: 0;
  width: 170px;
  padding: 10px;
  text-align: left;
  z-index: 10;
}
#desc p{
  display: none;
  font-size: 0.85em;
  margin: 5px;
}
#loader{
  text-align: center;
}
#sigma-parent{
  position: absolute;
}
#graph{
  clear: both;
  text-align: left;
}
.sigma-tools {
  display: none;
  position: absolute;
  top: 18px;
  right: 162px;
  border: 1px solid #d2d2d2;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}
.sigma-tools button{
  padding: 2px 5px;
}
.votes{
  height: 18px;
  width: 300px;
  margin: 15px;
}
.votes div{
  height: 100%;
  float:left;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 1px;
}
.votes .pro{
  background-color: #16D244;
}
.votes .unsure{
  background-color: #FFE543;
}
.votes .against{
  background-color: #D22826;
}
#legend{
  text-align: left;
  display: none;
}
#menuSize {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 250px;
  height: 30px;
  z-index: 10;
}
#menuColors {
  position: absolute;
  top: 70px;
  left: 40px;
  width: 250px;
  height: 50px;
  z-index: 10;
}
#legendColors{
  position: absolute;
  left: -180px;
  top: 120px;
  width: 500px;
  z-index: 10;
}
