body{
  text-align: center;
}
#head{
  background-color: #EEE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
iframe{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  margin: auto;
  text-align: center;
}
#loader{
  text-align: center;
}
#graph{
  clear: both;
  width: 100%;
  text-align: left;
}
.sigma-tools {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid #d2d2d2;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
  box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}
.sigma-tools button{
  padding: 2px 5px;
}
#legend{
  text-align: left;
  position: absolute;
  bottom: 50px;
  left: -200px;
  width: 500px;
  height: 150px;
  z-index: 10;
}
